<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p></p>
					<h1>Cart</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="cart-table-wrap">
					<table class="cart-table">
						<thead class="cart-table-head">
							<tr class="table-head-row">
								<th class="product-remove"></th>
								<th class="product-image">Product Image</th>
								<th class="product-name">Name</th>
								<th class="product-price">Price</th>
								<th class="product-quantity">Quantity</th>
							</tr>
						</thead>
						<tbody>
							{{#each products}}
							<tr class="table-body-row">

								<td class="product-remove"><a
										onclick="deleteCart('{{this._id}}','{{this.product._id}}')">
										<i class="far fa-window-close"></i></a></td>
								<td class="product-image"><img src="{{product.images.[0].path}}" alt="product" >
								</td>

								<td class="product-name">{{this.product.productName}}</td>
								<td class="product-price">₹ {{this.product.price}}/-</td>

								<td class="product-quantity">
									<p id="{{this.product._id}}">{{this.quantity}}</p>
									<div class="">
										<button class="btn-sm btn-dark"
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-
										</button>
										<button class="btn-sm btn-success"
											onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}', 1)">
											+</button>
									</div>
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="total-section">
					<table class="total-table">
						<thead class="total-table-head">
							<tr class="table-total-row">
								<th>Total</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr class="total-data">
								<td><strong>Subtotal: </strong></td>
								<td> ₹ <span id="total">{{totalValue}}</span>/-</td>
							</tr>
							<tr class="total-data">
								<td><strong>Shipping: </strong></td>
								<td>₹ 100 /-</td>
							</tr>
							<tr class="total-data">
								<td><strong>Total: </strong></td>
								<td> ₹ <span id="ftotal">{{ftotal}}</span>/- </td>
							</tr>
						</tbody>
					</table>
					<div class="cart-buttons">

						<a href="/place-order" class="boxed-btn black">Place Order</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>

<script>
	function changeQuantity(cartId, proId, userId, count) {
		let quantity = parseInt(document.getElementById(proId).innerHTML)
		count = parseInt(count)
		$.ajax({
			method: 'post',
			url: '/change-product-quantity',
			data: {
				user: userId,
				cart: cartId,
				product: proId,
				count: count,
				quantity
			},

			success: (response) => {
				if (response.removeProduct) {
					swal("Removed !", "Product removed by Cart", "success")
					location.reload()
				} else {
					document.getElementById(proId).innerHTML = quantity + count
					document.getElementById('total').innerHTML = response.total
					document.getElementById('ftotal').innerHTML = response.total + 100

				}

			}
		})
	}
</script>